@import "../mixins/mixins";
@import "../variables/color-transitions";
@import "../variables/responsive_containers";
@import "../alt/user-info";
@import "../alt/user-info-small";

nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid $lightgray-color;
  width: 100vw;

  .container {
    @include FlexCreator("row", "around");
    text-align: center;
    padding: 10px;

    .c3 {
      width: 100% / 3;

      a {
        color: black;
      }
    }

    .search-area {
      @include FlexCreator("row", "around");
      background-color: $lightgray-color;
      border-radius: 7px;
      width: fit-content;
      margin: auto;
      padding: 8px;

      .search-icon {
        .icon {
          font-size: 15px;
        }
      }

      @media (max-width: $smallScreens) {
        display: none;
      }

      .search {
        outline: none;
        border: none;
        background-color: transparent;
        margin-left: 15px;
      }
    }
    .nav-icons {
      @include FlexCreator("row", "around");

      .icon {
        font-size: 25px;
        padding: 3px;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        transition: $low-transition;

        &:hover {
          transform: translateY(2px);
        }
      }

      .notify::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 13px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: red;
      }

      .icon-img {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid red;
        padding: 3px;
      }
    }
  }
}

.non-nav {
  background-color: rgb(244, 244, 244);
  width: 100vw;

  .content-area {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;

    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    .feed {
      @include FlexCreator("column", "center");
      width: 100%;

      .stories {
        @include FlexCreator("row", "around");
        @include Section;
        padding: 20px;
        height: 113px;

        .story-layout {
          @include FlexCreator("column", "center");
          width: 70px;
          overflow: hidden;
          position: relative;

          @media (max-width: 767px) {
            width: 50px;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 8px;
            height: 15px;
            background-color: rgba($color: #ffffff, $alpha: 0.85);

            @media (max-width: 767px) {
              width: 3px;
            }
          }

          .story {
            display: inline-block;
            padding: 5px;
            margin-bottom: 3px;
            border-radius: 50%;
            border: 2px solid blue;
            position: relative;
            cursor: pointer;

            .story-img {
              border-radius: 50%;
              width: 100%;
            }
          }
        }

        @media (max-width: 767px) {
          padding: 0;

          [data-id="2"] {
            display: none;
          }
        }
      }

      .posts {
        @include FlexCreator("column", "center");

        .post {
          @include Section;
          @include FlexCreator("column", "center");
          width: 100%;

          .user-info {
            @include FlexCreator("row", "between");
            width: 100%;
            padding: 0 15px;
            margin-top: 10px;

            .post-user-image-holder {
              cursor: pointer;
              border-radius: 50%;
              padding: 1px;
              border: 2px solid blue;

              .post-user-img {
                border-radius: 50%;
              }
            }

            .details {
              width: 100%;
              text-align: left;
              margin-left: 10px;

              h2,
              h4 {
                width: fit-content;
                padding: 2px;
                cursor: pointer;
              }

              h4 {
                color: $gray-color;
              }
            }

            .icon {
              font-size: 25px;
              cursor: pointer;
            }
          }

          .images {
            .post-img {
              width: 100%;
            }
          }

          .likes {
            width: 100%;
            padding: 0 15px;
            .icons {
              width: 100%;
              margin-bottom: 15px;
              @include FlexCreator("row", "between");

              .left,
              .right {
                font-size: 25px;

                .icon {
                  cursor: pointer;

                  &:hover {
                    transition: $low-transition - 0.2s;
                    color: rgba($color: #000000, $alpha: 0.3);
                  }
                }
              }

              .left {
                .icon:not(:last-child) {
                  margin-right: 15px;
                }
              }
            }

            .total-likes {
              width: 100%;
              text-align: left;
              font-size: 15px;
              font-weight: 700;
            }
          }

          .post-details {
            width: 100%;
            padding: 0 15px;

            h4 {
              font-size: 12px;
              font-weight: 500;

              p {
                display: inline-block;
                margin-right: 3px;
                font-size: 14px;
                font-weight: 700;

                a {
                  color: black;
                }
              }
            }
          }

          .comments {
            width: 100%;
            padding: 0 15px;
            margin-top: 20px;

            .comment {
              @include FlexCreator("row", "between");
              margin-bottom: 5px;

              h4 {
                font-size: 12px;
                font-weight: 500;

                p {
                  display: inline-block;
                  margin-right: 3px;
                  font-size: 14px;
                  font-weight: 700;

                  a {
                    color: black;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }

              .icon {
                font-size: 12px;
                cursor: pointer;

                &:hover {
                  transition: $low-transition - 0.2s;
                  color: rgba($color: #000000, $alpha: 0.3);
                }
              }
            }
          }

          .add-comment {
            @include FlexCreator("row", "between");
            width: 100%;
            padding: 0 15px;
            border-top: 1px solid $light-border-color;

            textarea {
              width: 100%;
              outline: 0;
              border: 0;
              margin: 15px 0;
              padding: 5px;
              resize: none;
              height: 30px;
            }

            h3 {
              padding: 8px;
              font-size: 15px;

              &.disabled {
                cursor: auto;
                color: rgba($color: #000000, $alpha: 0.5);
              }

              &.enabled {
                cursor: pointer;
                color: rgba($color: #000000, $alpha: 1);
              }
            }
          }
        }
      }
    }

    .side-info {
      @include FlexCreator("column", "center");
      justify-content: flex-start;
      margin-top: 10px;
      padding: 20px;

      .user-info {
        @include FlexCreator("row", "start");
        width: 100%;

        @media (max-width: 992px) {
          display: none;
        }

        .mini-user-image-holder {
          cursor: pointer;
          border-radius: 50%;
          padding: 1px;
          border: 2px solid blue;

          .mini-user-img {
            border-radius: 50%;
          }
        }

        .details {
          width: 100%;
          text-align: left;
          margin-left: 10px;

          h2,
          h4 {
            width: fit-content;
            padding: 2px;
            cursor: pointer;
          }

          h4 {
            color: $gray-color;
          }
        }
      }

      .follow-suggests {
        @include Section;
        width: 100%;
        padding: 0 15px;

        @media (max-width: 992px) {
          display: none;
        }

        .heading {
          font-size: 25px;
          padding: 15px 0;
          color: rgba($color: #000000, $alpha: 0.6);
        }

        .suggest {
          @include FlexCreator("row", "start");
          width: 100%;
          margin-bottom: 10px;

          &:first-child {
            margin-top: 10px;
          }

          .mini-user-image-holder {
            cursor: pointer;
            border-radius: 50%;
            padding: 1px;
            border: 2px solid blue;

            .mini-user-img {
              border-radius: 50%;
            }
          }

          .details {
            width: 100%;
            text-align: left;
            margin-left: 10px;

            h2,
            h4 {
              width: fit-content;
              padding: 2px;
              cursor: pointer;
            }

            h4 {
              color: $gray-color;
            }

            h2:hover {
              text-decoration: underline;
            }
          }

          .follow {
            cursor: pointer;
          }
        }
      }

      .app-info {
        margin-top: 10px;
        width: 100%;
        padding: 0 15px;
        color: rgba($color: #000000, $alpha: 0.5);

        @media (max-width: 992px) {
          text-align: center;
        }

        h3 {
          margin-top: 5px;

          a {
            color: black;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        p {
          width: fit-content;
          cursor: pointer;

          @media (max-width: 992px) {
            width: 100%;
          }
        }
      }
    }
  }
}

.user-profile {
  background-color: rgb(244, 244, 244);

  .user {
    @include FlexCreator("row", "between");
    margin-top: 20px;
    .user-profile-flex-holder {
      width: 25%;

      @media (max-width: 767px) {
        position: absolute;
        top: 75px;
        width: 20%;
      }

      .user-profile-img-holder {
        border-radius: 50%;
        border: 2px solid blue;
        padding: 5px;
        width: fit-content;
        margin: auto;

        .user-profile-img {
          border-radius: 50%;
          width: 100%;
        }
      }
    }

    .user-info-area {
      @media (min-width: 768px) {
        .user-info {
          @include userInfo;
        }
        .user-info-small {
          display: none;
        }
      }

      @media (max-width: 767px) {
        .user-info {
          display: none;
        }
        .user-info-small {
          @include userInfoSmall;
        }
      }
    }
  }

  .posts-layout {
    margin-top: 30px;
    border-top: 1px solid rgb(213, 213, 213);

    @media (max-width: 767px) {
      margin-top: 0;
    }

    .filters {
      padding: 10px;
      text-align: center;

      @mixin hoverlayout {
        content: "";
        position: absolute;
        top: -11px;
        left: 0;
        width: 100%;
        height: 1px;
        transition: $low-transition;
      }

      .posts-filter {
        display: inline-block;
        margin-right: 100px;
        position: relative;
        cursor: pointer;

        &.active {
          &::before {
            @include hoverlayout();
            background-color: black;
          }
        }

        &::before {
          @include hoverlayout();
        }

        &:hover::before {
          background-color: black;
        }

        .icon {
          margin-right: 5px;
          font-size: 15px;
        }

        h3 {
          font-size: 15px;
          display: inline-block;
        }
      }

      .tagged-filter {
        display: inline-block;
        position: relative;
        cursor: pointer;

        &.active {
          &::before {
            @include hoverlayout();
            background-color: black;
          }
        }

        &::before {
          @include hoverlayout();
        }

        &:hover::before {
          background-color: black;
        }

        .icon {
          margin-right: 5px;
          font-size: 15px;
        }

        h3 {
          font-size: 15px;
          display: inline-block;
        }
      }
    }

    .post-layout {
      @include GridCreator(3, 30px);
      text-align: center;
      margin-top: 10px;

      @media (max-width: 767px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 3px;
      }

      .profile-post {
        cursor: pointer;
        position: relative;
        margin: auto;
        width: 295px;
        height: 295px;

        @media (max-width: 767px) {
          width: 112px;
          height: 112px;
          margin-bottom: 4px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.35);
        }

        &:hover::before {
          width: 100%;
        }

        &:hover {
          .post-stats {
            .likes,
            .comments {
              @include FlexCreator("row", "around");
            }
          }
        }

        img {
          width: 100%;
        }

        .post-stats {
          @include FlexCreator("row", "around");
          margin: 0 50px;
          position: relative;
          top: -157.5px;

          @media (max-width: 767px) {
            top: -66px;
          }

          .likes {
            display: none;
            z-index: 5;
            margin-right: 5px;

            .icon {
              color: white;
              margin-right: 5px;
              font-size: 17px;

              @media (max-width: 767px) {
                font-size: 13px;
              }
            }

            h4 {
              color: white;
              font-size: 17px;

              @media (max-width: 767px) {
                font-size: 13px;
              }
            }
          }

          .comments {
            display: none;
            z-index: 5;

            .icon {
              color: white;
              margin-right: 5px;
              font-size: 17px;

              @media (max-width: 767px) {
                font-size: 13px;
              }
            }

            h4 {
              color: white;
              font-size: 17px;

              @media (max-width: 767px) {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .app-info {
    margin: 30px 0 15px 0;
    text-align: center;

    @media (max-width: 767px) {
      margin: 15px 0 5px 0;
    }
  }
}
