$main-color: #344cb7;
$main-alt-color: #2fa4ff;
$secondary-color: #577bc1;
$common-color: #eeeeee;
$white-color: white;
$gray-color: #777;
$lightgray-color: #efefef;
$light-border-color: #dbdbdb;
$low-transition: 0.4s;
$high-transition: 1s;
