/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* End Global Rules */
/* Start Responsive Containers */
/* Small Screens */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/* End Responsive Containers */
/* Start Components */
.light-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.fit-overlay {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
}

.deep-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 2px 10px;
}

/* End Components */
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid #efefef;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 10px;
}

nav .container .c3 {
  width: 100% / 3;
}

nav .container .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #efefef;
  border-radius: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 8px;
}

nav .container .search-area .search-icon .icon {
  font-size: 15px;
}

@media (max-width: 767px) {
  nav .container .search-area {
    display: none;
  }
}

nav .container .search-area .search {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

nav .container .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container .nav-icons .icon {
  font-size: 25px;
  padding: 3px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .container .nav-icons .icon:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

nav .container .nav-icons .notify::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

nav .container .nav-icons .icon-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid red;
  padding: 3px;
}

.non-nav {
  background-color: #f4f4f4;
}

.non-nav .content-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  gap: 20px;
}

.non-nav .content-area .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.non-nav .content-area .feed .stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  padding: 20px;
  height: 113px;
}

.non-nav .content-area .feed .stories .story-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  overflow: hidden;
  position: relative;
}

.non-nav .content-area .feed .stories .story-layout::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.85);
}

.non-nav .content-area .feed .stories .story-layout .story {
  display: inline-block;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 50%;
  border: 2px solid blue;
  position: relative;
  cursor: pointer;
}

.non-nav .content-area .feed .stories .story-layout .story .story-img {
  border-radius: 50%;
}

.non-nav .content-area .feed .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.non-nav .content-area .feed .posts .post {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.non-nav .content-area .feed .posts .post .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin-top: 10px;
}

.non-nav .content-area .feed .posts .post .user-info .post-user-image-holder {
  cursor: pointer;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid blue;
}

.non-nav .content-area .feed .posts .post .user-info .post-user-image-holder .post-user-img {
  border-radius: 50%;
}

.non-nav .content-area .feed .posts .post .user-info .details {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.non-nav .content-area .feed .posts .post .user-info .details h2,
.non-nav .content-area .feed .posts .post .user-info .details h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  cursor: pointer;
}

.non-nav .content-area .feed .posts .post .user-info .details h4 {
  color: #777;
}

.non-nav .content-area .feed .posts .post .user-info .icon {
  font-size: 25px;
  cursor: pointer;
}

.non-nav .content-area .feed .posts .post .images .post-img {
  width: 100%;
}

.non-nav .content-area .feed .posts .post .likes {
  width: 100%;
  padding: 0 15px;
}

.non-nav .content-area .feed .posts .post .likes .icons {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.non-nav .content-area .feed .posts .post .likes .icons .left,
.non-nav .content-area .feed .posts .post .likes .icons .right {
  font-size: 25px;
}

.non-nav .content-area .feed .posts .post .likes .icons .left .icon,
.non-nav .content-area .feed .posts .post .likes .icons .right .icon {
  cursor: pointer;
}

.non-nav .content-area .feed .posts .post .likes .icons .left .icon:hover,
.non-nav .content-area .feed .posts .post .likes .icons .right .icon:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.3);
}

.non-nav .content-area .feed .posts .post .likes .icons .left .icon:not(:last-child) {
  margin-right: 15px;
}

.non-nav .content-area .feed .posts .post .likes .total-likes {
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
}

.non-nav .content-area .feed .posts .post .post-details {
  width: 100%;
  padding: 0 15px;
}

.non-nav .content-area .feed .posts .post .post-details h4 {
  font-size: 12px;
  font-weight: 500;
}

.non-nav .content-area .feed .posts .post .post-details h4 p {
  display: inline-block;
  margin-right: 3px;
  font-size: 14px;
  font-weight: 700;
}

.non-nav .content-area .feed .posts .post .post-details h4 p a {
  color: black;
}

.non-nav .content-area .feed .posts .post .comments {
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
}

.non-nav .content-area .feed .posts .post .comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.non-nav .content-area .feed .posts .post .comments .comment h4 {
  font-size: 12px;
  font-weight: 500;
}

.non-nav .content-area .feed .posts .post .comments .comment h4 p {
  display: inline-block;
  margin-right: 3px;
  font-size: 14px;
  font-weight: 700;
}

.non-nav .content-area .feed .posts .post .comments .comment h4 p a {
  color: black;
}

.non-nav .content-area .feed .posts .post .comments .comment h4 p a:hover {
  text-decoration: underline;
}

.non-nav .content-area .feed .posts .post .comments .comment .icon {
  font-size: 12px;
  cursor: pointer;
}

.non-nav .content-area .feed .posts .post .comments .comment .icon:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: rgba(0, 0, 0, 0.3);
}

.non-nav .content-area .feed .posts .post .add-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  border-top: 1px solid #dbdbdb;
}

.non-nav .content-area .feed .posts .post .add-comment textarea {
  width: 100%;
  outline: 0;
  border: 0;
  margin: 15px 0;
  padding: 5px;
  resize: none;
  height: 30px;
}

.non-nav .content-area .feed .posts .post .add-comment h3 {
  padding: 8px;
  font-size: 15px;
}

.non-nav .content-area .feed .posts .post .add-comment h3.disabled {
  cursor: auto;
  color: rgba(0, 0, 0, 0.5);
}

.non-nav .content-area .feed .posts .post .add-comment h3.enabled {
  cursor: pointer;
  color: black;
}

.non-nav .content-area .side-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
  padding: 20px;
}

.non-nav .content-area .side-info .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.non-nav .content-area .side-info .user-info .mini-user-image-holder {
  cursor: pointer;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid blue;
}

.non-nav .content-area .side-info .user-info .mini-user-image-holder .mini-user-img {
  border-radius: 50%;
}

.non-nav .content-area .side-info .user-info .details {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.non-nav .content-area .side-info .user-info .details h2,
.non-nav .content-area .side-info .user-info .details h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  cursor: pointer;
}

.non-nav .content-area .side-info .user-info .details h4 {
  color: #777;
}

.non-nav .content-area .side-info .follow-suggests {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  padding: 0 15px;
}

.non-nav .content-area .side-info .follow-suggests .heading {
  font-size: 25px;
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.6);
}

.non-nav .content-area .side-info .follow-suggests .suggest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

.non-nav .content-area .side-info .follow-suggests .suggest:first-child {
  margin-top: 10px;
}

.non-nav .content-area .side-info .follow-suggests .suggest .mini-user-image-holder {
  cursor: pointer;
  border-radius: 50%;
  padding: 1px;
  border: 2px solid blue;
}

.non-nav .content-area .side-info .follow-suggests .suggest .mini-user-image-holder .mini-user-img {
  border-radius: 50%;
}

.non-nav .content-area .side-info .follow-suggests .suggest .details {
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

.non-nav .content-area .side-info .follow-suggests .suggest .details h2,
.non-nav .content-area .side-info .follow-suggests .suggest .details h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px;
  cursor: pointer;
}

.non-nav .content-area .side-info .follow-suggests .suggest .details h4 {
  color: #777;
}

.non-nav .content-area .side-info .follow-suggests .suggest .details h2:hover {
  text-decoration: underline;
}

.non-nav .content-area .side-info .follow-suggests .suggest .follow {
  cursor: pointer;
}

.non-nav .content-area .side-info .app-info {
  margin-top: 10px;
  width: 100%;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.5);
}

.non-nav .content-area .side-info .app-info h3 {
  margin-top: 5px;
}

.non-nav .content-area .side-info .app-info h3 a {
  color: black;
}

.non-nav .content-area .side-info .app-info h3 a:hover {
  text-decoration: underline;
}

.non-nav .content-area .side-info .app-info p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
/*# sourceMappingURL=mainStyle.css.map */