/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  width: 100vw;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* End Global Rules */
/* Start Responsive Containers */
/* Small Screens */
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

/* End Responsive Containers */
/* Start Components */
.light-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.fit-overlay {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
}

.deep-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 2px 10px;
}

/* End Components */
nav {
  border-bottom: 1px solid #efefef;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding: 10px;
}

nav .container .c3 {
  width: 100% / 3;
}

nav .container .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #efefef;
  border-radius: 7px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 8px;
}

nav .container .search-area .search-icon .icon {
  font-size: 15px;
}

@media (max-width: 767px) {
  nav .container .search-area {
    display: none;
  }
}

nav .container .search-area .search {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 15px;
}

nav .container .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .container .nav-icons .icon {
  font-size: 25px;
  padding: 3px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .container .nav-icons .icon:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

nav .container .nav-icons .notify::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 13px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

nav .container .nav-icons .icon-img {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid red;
  padding: 3px;
}

.non-nav {
  background-color: #f4f4f4;
}

.non-nav .content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.non-nav .content-area .feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.non-nav .content-area .feed .stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  height: 113px;
  overflow: hidden;
}

.non-nav .content-area .feed .stories .story-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  overflow: hidden;
  position: relative;
}

.non-nav .content-area .feed .stories .story-layout::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.85);
}

.non-nav .content-area .feed .stories .story-layout .story {
  display: inline-block;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 50%;
  border: 2px solid blue;
  position: relative;
  cursor: pointer;
}

.non-nav .content-area .feed .stories .story-layout .story .story-img {
  border-radius: 50%;
}

.non-nav .content-area .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}
/*# sourceMappingURL=mainStyle.css.map */